*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;  
    text-decoration: none;
}

@font-face {
    font-family: 'norsebold';
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
         url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/* main container */
.main {
    width: 100%;
    display: flex;
    justify-content: center;
   
    /* align-items: center; */
}

.side-form {
    width: 60%;
    background-color: #fff;
    height: 100vh;
}

/* side bar */
.side-bar {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 90%;
    animation: slideInUp 0.8s ease-out;
}

.side-bar .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.114);
    backdrop-filter: blur(5px);
    width: 100%;
    padding: 10px;
    
}

.side-bar .description{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.114);
    backdrop-filter: blur(5px);
    width: 90%;
    padding: 10px;
    border-radius: 20px;
    height: 50%;
}

.description h2 {
    font-family: 'norsebold';
    font-size: 2.5rem;
    color: #fff;
}

.description span {
    font-family: 'norsebold';
}

.side-bar h1 {
    font-family: 'norsebold';
    font-size: 5rem;
    color: #fff;
}

.side-bar img {
    width: 80px;
}

.side-bar .credit {
  /* width: 40%; */
  /* background-color: rgba(207, 204, 225, 0.515); */
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  height: 10%;

}

.side-bar p {
    /* font-family: 'norsebold'; */
    color: #fff;
    text-align: center;
}

.side-bar p a:hover {
    color: rgba(32, 0, 212, 0.875);
}


/* side-form */
.side-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2B74E3;
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.1);
    
    animation: slideInRight 0.8s ease-out;

}


.side-form .intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 100%;
    /* padding: 0 50px; */
}

/* keyframe */
@keyframes slideInUp {
  from {
    transform: translateY(50px); /* Start 50px below */
    opacity: 0;                /* Start invisible */
  }
  to {
    transform: translateY(0);    /* End at original position */
    opacity: 1;                /* End fully visible */
  }
}

@keyframes slideInRight {
  from {
    transform: translatex(50px); /* Start 50px below */
    opacity: 0;                /* Start invisible */
  }
  to {
    transform: translatex(0);    /* End at original position */
    opacity: 1;                /* End fully visible */
  }
}

/* sign-up banner */
.intro .sign-up {
    /* background-color: #fff; */
    width: 80%;
    background-image: url(img/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(5px);
    gap: 10px;
    animation: slideInUp 0.3s ease-out;
    animation-delay: 1s;
}



.sign-up h2 {
    color: #2B74E3;
    font-size: 2rem;
    font-family: 'norsebold';
}

.sign-up p {
    color: #2B74E3;
}

.side-form .form {
    /* display: flex;
    align-items: center; */
    height: 40%;
    width: 100%;
    /* background-color: #ffffff; */
    background-image: url(img/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 50px;
    padding-top: 50px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    
    
}

form {
    width: 80%;
    
}

form legend {
    font-size: 1.5rem;
    font-family: 'norsebold';
    padding-bottom: 20px;
    color: #2B74E3;
}

form input {
    border-radius: 5px;
    border: 1px solid #2B74E3;
    padding: 10px 5px;
    color: #2B74E3;
}

input::placeholder {
    color: #2b75e338;
    font-size: 0.9rem;
}

input[type="password"]:invalid {
    border: 1px solid red;
}

input[type="password"]:valid {
    border: 1px solid green;
}

input:focus {
    outline: none;
    border: 2px solid #2B74E3;
}

form label {
    font-size: 0.95rem;
    color: #2B74E3;
    font-weight: 600;
}

form .row-1, form .row-2, form .row-3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    gap: 20px;
    /* flex-wrap: wrap; */
    /* border: 1px solid #000; */
}

.col-4 button{
    width: 30%;
    color: #fff;
    background-color: #2B74E3;
}

.col-4 button:hover {
    background-color: #fff;
    color: #2B74E3;
    border: 1px solid #2B74E3;
}

.form .col-1, .form .col-2, .form .col-3 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* password */

.col-3 {
    position: relative;
}
.col-3 i {
    position: absolute;
    right: 10px;
    top: 32px;
    cursor: pointer;
    color: #2B74E3;
}



/* account */
.side-form .account {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    height: 30%;
    width: 100%;
}

.side-form .ac-cont {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 10px;
    width: 70%;
    padding: 20px 0px;
}

.account p {
    color: #fff;
}

.btn {
    padding: 10px 16px;
    border-radius: 8px;
    border: 0;
    color: #2B74E3;
    background-color: #fff;
    cursor: pointer;
    animation: slideInUp 0.8s ease-out;
    animation-delay: 1s;
    transition: all 0.3s ease;
}

.btn:hover {
    color: #fff;
    background-color: #2B74E3;
    border: 1px solid #fff;
}

/* responsive */

@media (max-width: 960px) {
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        padding: 50px 50px;
    }

    .side-bar, .side-form {
        width: 80%;
    }

    .side-form {
        height: 60%;
        gap: 50px;
        padding: 50px 50px;
        border-radius: 10px;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    }

    form {
        padding: 20px 0;
    }

    .side-form .form {
   border-radius: 10px; 
    
    }

    .side-bar .logo {
        border-radius: 10px;
    }

    .side-bar .description{
    width: 60%;
    }

    .col-4 button{
    width: 40%;
}


}

@media (max-width: 790px) {

    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px 20px;
    }

    .side-bar, .side-form {
        width: 100%;
    }

    .side-form {
        height: 60%;
        gap: 10px;
        padding: 10px 10px;
        border-radius: 10px;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    }

    .intro .sign-up {
    /* background-color: #fff; */
    width: 90%;
    }

    form {
        padding: 10px 0;
    }

    .side-form .form {
   border-radius: 10px; 
    }

    .side-bar .description{
    width: 100%;
    }

    .row-1, .row-2, .row-3 {
    flex-wrap: wrap;
    }

    .col-4 button{
    width: 50%;
    color: #fff;
    background-color: #2B74E3;
    }
    
}